{
  "openapi": "3.1.0",
  "info": {
    "title": "图像生成（文生图 / 图生图）",
    "version": "1.0.0",
    "description": "**推荐统一端点**：`POST /v1/images/generations` 同时支持文生图与图生图。携带 `image` 字段即自动路由为图生图，无需切换端点。\n\n模型：`gpt-image-2`（4K、多语言、按 token 计费）。详见《gpt-image.md》。\n"
  },
  "servers": [
    {
      "url": "https://api.gravitex.ai"
    }
  ],
  "tags": [
    {
      "name": "图像（Images）/GPT-Image-OpenAI格式"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "使用 Bearer Token 认证。\n格式: `Authorization: Bearer sk-xxxxxx`\n"
      }
    }
  },
  "paths": {
    "/v1/images/generations": {
      "post": {
        "tags": [
          "图像（Images）/GPT-Image-OpenAI格式"
        ],
        "summary": "GPT-Image-2 图像生成",
        "description": "文生图：仅 `model` + `prompt`（及可选 `size`/`quality`/`n`）。\n\n图生图：额外传 `image`（URL 或 base64 data URI，可数组多图融合）。可选 `input_fidelity`。\n\n响应始终为 `data[].b64_json`，不支持 `response_format=url`。\n",
        "operationId": "creategptimage2generation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "GPT-Image-2 请求体。无 `image` 为文生图；携带 `image`（字符串或数组）自动进入图生图。详见《gpt-image.md》。",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "gpt-image-2"
                    ],
                    "description": "固定为 gpt-image-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "图像描述或编辑指令"
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 1,
                    "description": "生成张数"
                  },
                  "size": {
                    "type": "string",
                    "description": "预设：1024x1024（默认）、1024x1536、1536x1024、2880x2880、2048x3072、3072x2048；或自定义 WxH（每维为 16 的倍数，总像素 655360~8294400）",
                    "default": "1024x1024"
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high"
                    ],
                    "default": "high"
                  },
                  "image": {
                    "description": "图生图必填：单张 URL/base64 字符串，或多张 URL/base64 数组；单张最大 50MB",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "maxItems": 32
                      }
                    ]
                  },
                  "input_fidelity": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high"
                    ],
                    "description": "仅图生图有效：输入保真度"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "x-apifox-orders": [
                  "model",
                  "prompt",
                  "n",
                  "size",
                  "quality",
                  "image",
                  "input_fidelity"
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "GPT-Image-2 响应（与《gpt-image.md》一致；始终返回 b64_json）",
                  "properties": {
                    "created": {
                      "type": "integer",
                      "description": "创建时间戳（Unix 秒）"
                    },
                    "background": {
                      "type": "string",
                      "enum": [
                        "opaque",
                        "transparent"
                      ],
                      "description": "背景类型"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "b64_json": {
                            "type": "string",
                            "description": "Base64 编码的图片数据（不支持 response_format=url）"
                          }
                        },
                        "required": [
                          "b64_json"
                        ],
                        "x-apifox-orders": [
                          "b64_json"
                        ]
                      }
                    },
                    "output_format": {
                      "type": "string",
                      "enum": [
                        "png",
                        "jpeg",
                        "webp"
                      ]
                    },
                    "quality": {
                      "type": "string",
                      "enum": [
                        "low",
                        "medium",
                        "high"
                      ]
                    },
                    "size": {
                      "type": "string",
                      "description": "实际输出尺寸，如 1024x1024"
                    },
                    "usage": {
                      "type": "object",
                      "description": "token 用量（按文本输入 / 图片输入 / 图片输出分别计费）",
                      "properties": {
                        "input_tokens": {
                          "type": "integer"
                        },
                        "output_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        },
                        "input_tokens_details": {
                          "type": "object",
                          "properties": {
                            "text_tokens": {
                              "type": "integer",
                              "description": "文生图时为文本 token"
                            },
                            "image_tokens": {
                              "type": "integer",
                              "description": "图生图时 > 0，文生图时为 0"
                            }
                          },
                          "x-apifox-orders": [
                            "text_tokens",
                            "image_tokens"
                          ]
                        }
                      },
                      "x-apifox-orders": [
                        "input_tokens",
                        "output_tokens",
                        "total_tokens",
                        "input_tokens_details"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "created",
                    "background",
                    "data",
                    "output_format",
                    "quality",
                    "size",
                    "usage"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type",
                        "param",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type",
                        "param",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "余额不足",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type",
                        "param",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type",
                        "param",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "上游服务错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type",
                        "param",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}