{
  "openapi": "3.1.0",
  "info": {
    "title": "查询视频生成任务状态",
    "version": "1.0.0",
    "description": "轮询 `GET /v1/video/generations/{task_id}` 获取 Seedance 2.0 视频生成进度与结果。状态：`queued` → `in_progress` → `completed` / `failed`。建议每 5 秒轮询一次。\n\n详见《Seedance 2.0.md》「查询任务状态」章节。\n"
  },
  "servers": [
    {
      "url": "https://api.gravitex.ai"
    }
  ],
  "tags": [
    {
      "name": "视频（Videos）/Seedance 2.0格式"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "使用 Bearer Token 认证。\n格式: `Authorization: Bearer sk-xxxxxx`\n"
      }
    }
  },
  "paths": {
    "/v1/video/generations/{task_id}": {
      "get": {
        "tags": [
          "视频（Videos）/Seedance 2.0格式"
        ],
        "summary": "查询视频生成任务状态",
        "description": "根据任务 ID 返回当前快照；成功时包含 `video_url` / `url` 与 `metadata`。\n",
        "operationId": "getvideogeneration",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "创建任务接口返回的 `task_id`（与 `id` 相同）"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "当前任务状态或最终结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "视频任务对象（与《Seedance 2.0.md》查询任务状态章节一致；轮询时字段逐步补齐）",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "任务 ID"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "与 id 一致的任务标识"
                    },
                    "object": {
                      "type": "string",
                      "description": "资源类型",
                      "enum": [
                        "video"
                      ]
                    },
                    "model": {
                      "type": "string",
                      "description": "使用的模型 ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "任务状态：queued / in_progress / completed / failed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "integer",
                      "description": "进度 0~100"
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "创建时间（Unix 秒）"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完成时间（Unix 秒），未完成时可能省略"
                    },
                    "video_url": {
                      "type": "string",
                      "description": "视频地址（成功时常用）"
                    },
                    "url": {
                      "type": "string",
                      "description": "与 video_url 同义的资源地址"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "扩展元数据（成功时常见）",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "video_url": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "total_tokens": {
                              "type": "integer",
                              "description": "token 用量"
                            }
                          },
                          "x-apifox-orders": [
                            "total_tokens"
                          ]
                        }
                      },
                      "x-apifox-orders": [
                        "url",
                        "video_url",
                        "id",
                        "status",
                        "usage"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "description": "失败时的错误信息",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "id",
                    "task_id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "completed_at",
                    "video_url",
                    "url",
                    "metadata",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "错误信息"
                        },
                        "type": {
                          "type": "string",
                          "description": "错误类型"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "相关参数路径"
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "错误代码"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type",
                        "param",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "余额不足",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "上游服务错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}