{
  "openapi": "3.1.0",
  "info": {
    "title": "列出素材",
    "version": "1.0.0",
    "description": "列出当前用户素材；未传 `group_type` 时默认仅返回虚拟素材组（aigc）内素材。可指定 `group_id` 过滤。\n\n详见《Seedance 2.0.md》「列出素材」章节。\n"
  },
  "servers": [
    {
      "url": "https://api.gravitex.ai"
    }
  ],
  "tags": [
    {
      "name": "视频（Videos）/Seedance 2.0格式"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "使用 Bearer Token 认证。\n格式: `Authorization: Bearer sk-xxxxxx`\n"
      }
    }
  },
  "paths": {
    "/v1/assets": {
      "get": {
        "tags": [
          "视频（Videos）/Seedance 2.0格式"
        ],
        "summary": "列出素材",
        "description": "指定 `group_id` 后会忽略 `group_type`（组已隐含类型）。\n",
        "operationId": "listassets",
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "按素材组过滤"
          },
          {
            "name": "group_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "aigc",
                "liveness_face",
                "all"
              ],
              "default": "aigc"
            },
            "description": "按组类型过滤；默认 aigc"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "素材列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "user_id": {
                            "type": "integer"
                          },
                          "channel_id": {
                            "type": "integer"
                          },
                          "group_id": {
                            "type": "string"
                          },
                          "virtual_id": {
                            "type": "string"
                          },
                          "asset_url": {
                            "type": "string",
                            "description": "asset:// 引用，用于视频生成"
                          },
                          "url": {
                            "type": "string",
                            "description": "上游临时签名预览 URL（约 12 小时有效）"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "asset_type": {
                            "type": "string",
                            "enum": [
                              "Image",
                              "Video",
                              "Audio"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "active",
                              "failed"
                            ],
                            "description": "素材处理状态"
                          },
                          "space_label": {
                            "type": "string",
                            "description": "多上游空间标签，如 A/B/C"
                          },
                          "created_at": {
                            "type": "integer"
                          },
                          "updated_at": {
                            "type": "integer"
                          }
                        },
                        "x-apifox-orders": [
                          "id",
                          "user_id",
                          "channel_id",
                          "group_id",
                          "virtual_id",
                          "asset_url",
                          "url",
                          "filename",
                          "asset_type",
                          "status",
                          "space_label",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "assets",
                    "total"
                  ],
                  "x-apifox-orders": [
                    "assets",
                    "total"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "错误信息"
                        },
                        "type": {
                          "type": "string",
                          "description": "错误类型"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "相关参数路径"
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "错误代码"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type",
                        "param",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "余额不足",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "上游服务错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}