{
  "openapi": "3.1.0",
  "info": {
    "title": "发起 H5 真人核验（真人素材组）",
    "version": "1.0.0",
    "description": "创建真人素材组的第一步：返回 BytePlus H5 核验链接与网关签发的 `state`。用户完成核验后回调页会 `postMessage` 结果。\n\n详见《Seedance 2.0.md》「真人素材组：H5 活体核验」章节。\n"
  },
  "servers": [
    {
      "url": "https://api.gravitex.ai"
    }
  ],
  "tags": [
    {
      "name": "视频（Videos）/Seedance 2.0格式"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "使用 Bearer Token 认证。\n格式: `Authorization: Bearer sk-xxxxxx`\n"
      }
    }
  },
  "paths": {
    "/v1/visual-validate/session": {
      "post": {
        "tags": [
          "视频（Videos）/Seedance 2.0格式"
        ],
        "summary": "发起 H5 活体核验会话",
        "description": "`expires_in` 为 state 令牌秒数（900）；H5 链接本身另有 BytePlus 约 120 秒有效限制。\n",
        "operationId": "createvisualvalidatesession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "素材组名称（落库并回写火山控制台）"
                  },
                  "description": {
                    "type": "string",
                    "description": "描述；缺省同素材组创建，username 兜底"
                  },
                  "channel_id": {
                    "type": "integer",
                    "description": "上游渠道 ID，省略则自动选择"
                  }
                },
                "required": [
                  "name"
                ],
                "x-apifox-orders": [
                  "name",
                  "description",
                  "channel_id"
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "会话创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "h5_link": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "channel_id": {
                      "type": "integer"
                    },
                    "byted_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "state 有效期（秒）"
                    }
                  },
                  "required": [
                    "h5_link",
                    "state",
                    "byted_token",
                    "expires_in"
                  ],
                  "x-apifox-orders": [
                    "h5_link",
                    "state",
                    "channel_id",
                    "byted_token",
                    "expires_in"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "错误信息"
                        },
                        "type": {
                          "type": "string",
                          "description": "错误类型"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "相关参数路径"
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "错误代码"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type",
                        "param",
                        "code"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "余额不足",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "请求过于频繁",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "上游服务错误",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "x-apifox-orders": [
                        "message",
                        "type"
                      ]
                    }
                  },
                  "x-apifox-orders": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}